@mixin font-face($font-family, $path, $weight: normal, $style: normal)
	{
		@font-face {
			font-family: $font-family;
			font-weight: $weight;
			font-style: $style;
			src: url('#{$path}.woff2') format('woff2'), url('#{$path}.ttf') format('truetype');
		}
	}

  //для nectarin.ru/bitrix оставляем путь таким же
@include font-face('Golos-Regular', '../fonts/Golos/Golos-Regular/Golos-Regular', 400);
@include font-face('Golos-Medium', '../fonts/Golos/Golos-Medium/Golos-Medium', 500);
@include font-face('Golos-Bold', '../fonts/Golos/Golos-Bold/Golos-Bold', 700);

//coreSansA45Regular
//coreSansA65Bold
//BebasNeueBook BebasNeueBold\