@import 'smart-grid';
@import '_normalize';
@import '_fonts';
@import 'swiper.min.css';

//---vars
$color_text: white;
// $color_bg: #4F73CD;
$color_bg: rgb(209, 209, 148);
$color_cardBg: #254595;
$color_btnBg: #0047FE;
$color_menuBg: #80A0F2;

///---------common styles ----------------------

html {
  font-size: 1.3vw;

  @include from(1681){
    font-size: 1vw;
  }

  @include md-block{
    font-size: 2.3vw;
  }	
}

*{
	box-sizing: border-box;
}

img{
	margin: 0;
	padding: 0;
	width: 100%;	
}

picture{
	display: block;

	& > *{
		vertical-align: top;
	}
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	color: #fff;
}

a {
	text-decoration: none;
	color: inherit;
}

body, div, h1, h2, h3, h4, p, input {
	margin: 0;
	padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.page{
  background-color: $color_bg;
}

.container {
  border: 1px solid red;
  @include wrapper();

  @include from(1681px){
    padding: 0 8vw;
  }
  
  @include from (1024px){
    padding: 0 5vw;
  }

  @include md(max-width, none);
}

.header{
  padding-top: 3.5vw;
  // font-family: Golos-Bold;
  color: white;

  @include md-block{
    padding-top: 50px;
  } 

  &__title{
    font-family: Golos-Bold, sans-serif;
    font-size: 2.3rem;

    @include md-block{      
      font-size: 2rem;
      line-height: 1;
    }
  }
}

.menu{
  border: 1px solid white;
  width: 100%;
  margin: 0;
  margin: 1.15rem 0 0 0;
  padding: 0;

  &__list{
    // border: 1px solid yellow;
    width: 100%;
    display: flex;
    margin: 0 -.3rem;
    flex-wrap: wrap;
  }

  &__item{
    font-family: Golos-Regular, sans-serif;    
    border-radius: .4rem;
    font-size: 1.05rem;

    margin: 0 .3rem;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: .3s;

    @include md-block{
      margin: .3rem;
      font-size: 1rem;
    }

    &:hover{
      background-color: rgba(168, 187, 236, 0.3);
    }

    &_active{
      background-color: $color_menuBg;

      &:hover{
        background-color: $color_menuBg;
      }
    }
  }
}

.directions{
  // height: 580px;
  // height: calc(34.7vw + 3rem);

  &__container{
    position: relative;
    width: 100%;

    @include from(1024px){
      padding: 0;
    }
  }
}

.swiper-container {
  border: 1px solid black;
  position: relative;  
  width: calc(89.5% + 60px);
  height: calc(37.6vw + 3rem);
  margin-left: auto;
  margin-right: auto;
  padding: 30px;

  @include from(1681px){
    // width: calc(80% + 60px);
    width: calc(100% + 60px);
    height: calc(34vw + 3rem);
    margin-left: -30px;
  }

  @include md-block{
    width: calc(100% + 60px);
    margin-left: -30px;
    height: calc(80vw + 3rem);
  }
}

.swiper-wrapper{
  
}

.swiper-slide {
  height: calc((100% - 30px) / 2);
}

.swiper-pagination{
  display: none;

  @include md-block{
    display: block;
    bottom: 0 !important;
  }

  & > .swiper-pagination-bullet{
    background: white;
    opacity: 1;

    &-active{
      background-color: $color_btnBg;
    }
  }
}

.swiper-buttons{
  // border: 1px solid yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;

  @include md(display, none);
}

.swiper-button{
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  width: 2.3rem;
  height: 2.3rem;

  transition: .3s;
  cursor: pointer;

  & > svg{
    // border: 1px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.3rem;
    height: 1.3rem;
  }

  //todo ховер и курсор поитер для дивайсов

  &:hover{
    background-color: $color_cardBg;
    box-shadow: 0px .2rem .6rem rgba(0, 0, 0, .1);
  }

  &:active{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px .2rem .6rem rgba(0, 0, 0, 0);
  }
}

.chevron{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: .8rem;
  height: .8rem;
  fill: white;  

  &_prev{

  }

  &_next{

  }
}

.direction{
  // border: 1px solid black;
  position: relative;
  font-size: .8rem;
  border-radius: .4rem;
  background-color: $color_cardBg;

  &_shadow{
    box-shadow: 0px .3rem 1.5rem rgba(0, 0, 0, 0.25);
  }

  &_right{
    left: 0;

    @media (hover){
      &:hover{
        z-index: 2;
        border-radius: .4rem 0rem 0rem .4rem;
      }
    
      // &:hover > .direction__more{
      //   left: 0;
      //   padding: 1.5rem 1.5rem 1.5rem calc(11.55vw + 1.5rem);
      //   width: calc(11.55vw * 3 + 60px);
      // }
    
      &:hover > .direction__more > * {
        opacity: 1;
        transform: translateX(0%);
      }
    }
  }

  &_left{
    // left: 0;
    
    &:hover{
      z-index: 2;
      border-radius: 0rem .4rem .4rem 0rem;
    }
  
    &:hover > .direction__more{
      // right: 0;
      // left: 0;
      // padding: 1.5rem 1.5rem 1.5rem 1.5rem;
      // // border-radius: .4rem 0rem 0rem .4rem;
      // width: calc(11.55vw * 2 + 60px);
      // transform: translateX(calc(-100%));
    }
  
    &:hover > .direction__more > * {
      opacity: 1;
      transform: translateX(0%);
    }
  }  

  &__img{
    position: relative;
    border-radius: .4rem;
    height: 100%;
    object-fit: cover;
  }

  &__info{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
  }

  &__city{
    font-family: Golos-Medium, sans-serif;    
  }

  &__country{
    font-family: Golos-Regular, sans-serif;
  }

  &__more{
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background-color: $color_cardBg;
    overflow: hidden;
    border-radius: .4rem;
    transition: .3s;

    &_right{      
    
      & > * {
        opacity: 0;
        transition: .5s;
        transform: translateX(1000%);
      }
    }

    &_left{
      & > * {
        opacity: 0;
        transition: .5s;
        transform: translateX(-1000%);
      }
    }

    & > p{
      font-family: Golos-Regular, sans-serif;
      font-size: .8rem;
      line-height: 1.4;
      color: white;
    }
  }

  &__button {
    margin-top: .5rem;
  }

  &__closeMore{
    display: none;
    position: absolute;
    top: 5%;
    right: 5%;
    line-height: 1;

    @media (hover){
      cursor: pointer;
    }

    @include md-block{
      display: block;
    }

    & > svg {
      display: block;
      fill: white;
      width: 15px;
      height: 15px;
    }
  }
}

.button{
  display: inline-block;
  border: 1px solid white;
  padding: .5rem 1rem;
  border-radius: .4rem;
  cursor: pointer;
  font-family: Golos-Medium, sans-serif;
  color: white;
  transition: .3s;

  &:hover{
    border: none;
    background-color: $color_btnBg;
  }

  &:active{
    opacity: .6;
  }
}